.card-spacing {
  margin-bottom: 0.5em;
}
.input-spacing {
  margin: 1em;
}
.nav-bar-color {
  background-color: blueviolet;
}
.app-logo-div {
  color: white;
  font-size: x-large;
  font-weight: 400;
  margin: auto 1em;
}
.app-search-div {
  color: white;
  font-size: x-large;
  font-weight: 400;
  margin: auto 1em;
}
.pagination-spacing {
  margin-bottom: 2em;
}
.friend-card-desc-section {
  color: #a9a9a9;
}
.add-button-spacing {
  margin-left: 0.5em;
}
.greyed-out-div {
  border: 2px dashed rgba(211, 211, 211, 0.616);
  padding: 3rem;
  border-radius: 1em;
  color: lightgrey;
  font-size: 1.5rem;
}
.empty-icon-spacing {
  margin-right: 1rem;
}
